<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <form action='/register' method='post'> 
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="location">Dojo Location:</label>
        <select name="location" id="location">
            <option value="sanjose">San Jose</option>
            <option value="ramallah">Ramallah</option>
            <option value="nablus">Nablus</option>
            <option value="newyork">New York</option>
         </select><br><br>
         <label for="lang">Favorite Language:</label>
         <select name="lang" id="lang">
            <option value="python">Python</option>
            <option value="c">C</option>
            <option value="javascript">JavaScript</option>
            <option value="mern">Mern</option>
         </select><br><br>
         <label for="comment">Comment (optional): </label>
         <textarea id="comment" name="comment" rows="4" cols="50">
        </textarea>
        <button type="submit">Submit </button>



    </form>
</body>
</html>